attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.3
Cython==3.2.1
dl==0.1.0
docutils==0.22.2
filelock==3.20.0
HTMLParser==0.0.2
hypothesis==6.142.1
importlib_resources==6.4.0
ini2toml==0.15
ipython==8.30.0
ipywidgets==8.1.5
Pyjnius==1.7.0
keyring==25.6.0
matplotlib==3.10.7
mod==0.3.0
pandas==2.3.3
path.py==12.5.0
pkg1==0.0.3
protobuf==6.33.0
pyOpenSSL==25.0.0
pyOpenSSL==25.3.0
pyperf==2.9.0
pytest==8.3.4
pywin32==308
redis==6.4.0
seaborn==0.13.2
Sphinx==8.2.3
streamlit==1.49.1
streamlit==1.45.1
trove_classifiers==2025.9.11.17
urllib3_secure_extra==0.1.0
usercustomize==1.0.0
xmlrpclib==1.0.1
xx==3.3.2
